<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Detail</title>
    <link href="dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@latest/dist/tailwind.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/emoji-button@4.6.0/dist/index.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/loading.css">
    <script src="/js/loading.js"></script>

</head>

<body>
    <!-- Loading -->
    <div th:replace="/layout/_loading.html"></div>

    <div th:replace="/layout/_header.html"></div>
    <nav class="mt-20 mb-4 ml-2 mr-2 px-3 py-1 bg-white rounded-full shadow-md w-auto inline-flex">
        <ol class="flex flex-wrap items-center space-x-2 text-gray-700 dark:text-gray-300">
            <li th:each="breadcrumb, iterStat : ${breadcrumbs}" class="flex items-center">
                <a th:if="${not #strings.isEmpty(breadcrumb.url) and !iterStat.last}" th:href="${breadcrumb.url}"
                    class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300"
                    th:text="${breadcrumb.title}"></a>
                <span th:if="${#strings.isEmpty(breadcrumb.url) or iterStat.last}"
                    class="text-gray-500 dark:text-gray-400" th:text="${breadcrumb.title}"></span>
                <i th:if="${!iterStat.last}" class="bi bi-chevron-compact-right text-gray-500 dark:text-gray-400"></i>
            </li>
        </ol>
    </nav>

    <div class="relative">
        <!-- --------------------- -->
        <div class="overflow-hidden">
            <!-- Container Flex -->
            <div class="flex flex-col lg:flex-row">
                <!-- Hình ảnh (Carousel) -->
                <div class="w-full lg:p-4">
                    <div class="relative w-full h-60 md:h-96"> <!-- Thay đổi chiều cao cho desktop -->
                        <!-- Carousel -->
                        <div class="carousel-container" id="carousel">
                            <div class="carousel-slide">
                                <div class="carousel-item" th:each="photo : ${storePhotos}">
                                    <div class="mirror-container relative flex items-center justify-center">
                                        <!-- Ảnh bên trái lật -->
                                        <img th:src="${photo.photoUrl}" alt="Slide mirror left"
                                            class="mirror-left object-cover w-1/3 h-full">
                                        <!-- Ảnh chính giữa -->
                                        <img th:src="${photo.photoUrl}" alt="Slide center"
                                            class="main-image object-cover w-2/3 h-full">
                                        <!-- Ảnh bên phải lật -->
                                        <img th:src="${photo.photoUrl}" alt="Slide mirror right"
                                            class="mirror-right object-cover w-1/3 h-full">
                                    </div>
                                </div>
                            </div>

                            <button class="carousel-button bg-white rounded-full left"
                                onclick="prevSlide()">&#10094;</button>
                            <button class="carousel-button bg-white rounded-full right"
                                onclick="nextSlide()">&#10095;</button>
                        </div>


                        <script>
                            const carousel = document.getElementById('carousel');
                            const slides = carousel.querySelector('.carousel-slide');
                            let index = 0;

                            function showSlide(n) {
                                const totalSlides = carousel.querySelectorAll('.carousel-item').length;
                                if (n >= totalSlides) index = 0;
                                else if (n < 0) index = totalSlides - 1;
                                else index = n;
                                const offset = -index * 100;
                                slides.style.transform = `translateX(${offset}%)`;
                            }

                            function nextSlide() {
                                showSlide(index + 1);
                            }

                            function prevSlide() {
                                showSlide(index - 1);
                            }
                        </script>
                    </div>
                </div>

                <!-- Thông tin nhà hàng -->
                <div class="w-full md:w-2/3 p-6 flex flex-col justify-center">
                    <h2 class="text-2xl font-bold text-gray-800 mb-4 gap-4">
                        Cửa hàng:
                        <strong class="text-red-500 text-3xl" th:text="${store.storeName}"></strong>
                    </h2>
                    <div class="flex font-bold text-xl text-gray-800 mb-4 gap-4">
                        Loại cửa hàng:
                        <div class="text-center text-white bg-blue-500 dark:bg-neutral-700 rounded-full px-4 w-auto">
                            <i class="bi bi-tags"></i>
                            <span th:text="${store.storeCategories.categoriesName}">Loại</span>
                        </div>
                    </div>
                    <p class="text-gray-600 mb-4 text-xl">
                        <strong>Địa chỉ: </strong>
                        <a onclick="confirmOpenMaps(event, this)" th:href="'https://www.google.com/maps/search/?api=1&query=' 
                            + ${store.addressStreet} + ', ' + ${store.addressCommune} + ', ' 
                            + ${store.addressDistrict} + ', ' + ${store.addressCity}"
                            class="text-blue-500 hover:underline">
                            <span th:text="${store.addressStreet}"></span>,
                            <span th:text="${store.addressCommune}"></span>,
                            <span th:text="${store.addressDistrict}"></span>,
                            <span th:text="${store.addressCity}"></span>.
                        </a>
                    </p>

                    <!-- Modal -->
                    <div id="mapModal"
                        class="fixed z-40 inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center hidden">
                        <div class="bg-white p-4 rounded-lg shadow-lg">
                            <h2 class="flex text-xl font-semibold mb-4">
                                <!-- <i class="bi bi-geo-alt-fill text-red-600 mr-2"></i> -->
                                <img src="https://s3.cloud.cmctelecom.vn/tinhte2/2020/02/4902204_cover_bieu_tuong_moi_google_maps.jpg"
                                    class="h-8 w-14">
                                Mở Google Maps
                            </h2>
                            <p class="text-gray-700 mb-4 text-lg">Bạn có muốn mở Google Maps để xem vị trí này?</p>
                            <div class="flex justify-end mt-6 py-2 gap-4">
                                <button onclick="cancelOpenMaps()"
                                    class="bg-gray-700 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded ">Hủy</button>
                                <button id="confirmBtn"
                                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">OK</button>
                            </div>
                        </div>
                    </div>

                    <script>
                        function confirmOpenMaps(event, linkElement) {
                            event.preventDefault(); // Ngăn chặn liên kết mở ngay lập tức
                            document.getElementById('mapModal').classList.remove('hidden');

                            // Lấy URL từ thuộc tính href của thẻ <a>
                            const mapUrl = linkElement.getAttribute('href');

                            // Gán URL Google Maps cho nút OK
                            const confirmBtn = document.getElementById('confirmBtn');
                            confirmBtn.onclick = function () {
                                window.open(mapUrl, '_blank'); // Mở Google Maps trong tab mới
                                cancelOpenMaps(); // Ẩn modal
                            };
                        }

                        function cancelOpenMaps() {
                            document.getElementById('mapModal').classList.add('hidden'); // Ẩn modal
                        }
                    </script>

                    <p class="flex items-center mb-4 text-xl">
                        <i class="bi bi-geo-alt-fill text-red-600 mr-2"></i>
                        <span th:text="${store.addressCity}" class="font-bold text-red-500"></span>
                    </p>
                    <p class="flex font-bold text-center mb-4 text-xl mt-2 text-gray-600">Lượt xem:
                        <span th:text="${store.ViewCount}" class="text-green-500 ml-2"></span>
                    </p>
                    <p class="flex font-bold text-center mb-4 text-xl mt-2 text-gray-600">Yêu thích:
                        <i class="bi bi-heart-fill text-2xl cursor-pointer text-gray-500 hover:text-red-500 ml-2"></i>
                    </p>
                    <div class="flex text-yellow-500 text-2xl">
                        <div class="star-rating">
                            <!-- Nền sao trống -->
                            <div class="empty-stars">
                                <span>★★★★★</span>
                            </div>
                            <!-- Sao đầy dựa trên điểm trung bình -->
                            <div class="filled" th:style="'width:' + (${averageRating} * 20) + '%'">
                                <span>★★★★★</span>
                            </div>
                        </div>
                        <span th:text="'(' + ${averageRating} +')'" class="px-4">0.0</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------- -->
        <!-- Croll -->
        <!-- Story -->
        <div class="relative max-w-full mt-4 mx-auto">
            <!-- Image container with horizontal scroll -->
            <div id="image-scroll" class="flex overflow-x-auto py-2 px-2 scroll-smooth snap-x snap-mandatory">
                <!-- Individual images -->
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/08/66/1b/08661ba50a6558bd690329f1fdda2806.jpg" alt="Image 1"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/b0/7f/d5/b07fd5e0ce5f83664f6e53b358c00561.jpg" alt="Image 2"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/49/e4/34/49e434c1e4c4906ab4a00afbd6aab180.jpg" alt="Image 3"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/eb/3b/8c/eb3b8c4b3306f91f11ef1f05180a8613.jpg" alt="Image 4"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/d7/8f/61/d78f619fbe39f158c603913851de47d6.jpg" alt="Image 5"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://images2.thanhnien.vn/zoom/686_429/Uploaded/ttt/images/Content/tan-huong/mon-ngon-nha-hang/2017_07_w3/6.jpg"
                        alt="Image 1" class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/b0/7f/d5/b07fd5e0ce5f83664f6e53b358c00561.jpg" alt="Image 2"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/49/e4/34/49e434c1e4c4906ab4a00afbd6aab180.jpg" alt="Image 3"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/eb/3b/8c/eb3b8c4b3306f91f11ef1f05180a8613.jpg" alt="Image 4"
                        class="w-full h-full object-cover rounded-lg">
                </div>
                <div class="flex-shrink-0 w-60 h-60 bg-gray-200 rounded-lg mx-2 snap-center">
                    <img src="https://i.pinimg.com/236x/d7/8f/61/d78f619fbe39f158c603913851de47d6.jpg" alt="Image 5"
                        class="w-full h-full object-cover rounded-lg">
                </div>
            </div>
            <div class="hidden md:block">
                <button id="prevBtn"
                    class="absolute top-1/2 transform -translate-y-1/2 left-2 text-xl bg-white text-black rounded-full p-2 focus:outline-none hidden">
                    &#10094;
                </button>

                <button id="nextBtn"
                    class="absolute top-1/2 transform -translate-y-1/2 right-2 text-xl bg-white text-black rounded-full p-2 focus:outline-none">
                    &#10095;
                </button>
            </div>
        </div>

        <script>
            const scrollContainer = document.getElementById('image-scroll');
            const nextButton = document.getElementById('nextBtn');
            const prevButton = document.getElementById('prevBtn');

            // Kiểm tra xem có cần ẩn/hiện nút không
            function checkScrollButtons() {
                const maxScrollLeft = scrollContainer.scrollWidth - scrollContainer.clientWidth;
                prevButton.style.display = scrollContainer.scrollLeft > 0 ? 'block' : 'none';
                nextButton.style.display = scrollContainer.scrollLeft < maxScrollLeft ? 'block' : 'none';
            }

            // Sự kiện cuộn
            scrollContainer.addEventListener('scroll', checkScrollButtons);

            nextButton.addEventListener('click', () => {
                scrollContainer.scrollBy({ left: 300, behavior: 'smooth' });
            });

            prevButton.addEventListener('click', () => {
                scrollContainer.scrollBy({ left: -300, behavior: 'smooth' });
            });

            // Kiểm tra nút ngay từ lúc tải trang
            checkScrollButtons();
        </script>


        <div class="mt-8 rounded-lg p-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                <!-- Thẻ món ăn -->
                <div class="bg-gray-50 rounded-lg p-4 shadow-md col-span-1 md:col-span-1">
                    <h3 class="text-lg font-semibold text-gray-800 font-bold">THỰC ĐƠN</h3>
                    <br>
                    <div th:if="${#lists.isEmpty(menulist)}"
                        class="text-center flex flex-col items-center justify-center mt-8">
                        <p class="text-white text-2xl mb-4 bg-pink-500 p-2 rounded-full">
                            Chưa có menu nào
                        </p>
                    </div>
                    <div th:each="menu, iterStat : ${menulist}" class="khaivi">
                        <strong>Khai vị:</strong>
                        <ul class="text-gray-800 mt-2">
                            <li class="whitespace-pre-wrap" th:text="${menu.foodFirst}"></li>
                        </ul>
                        <br>
                        <div id="dishList-[[${iterStat.index}]]" class="hidden">
                            <strong>Món Chính:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li class="whitespace-pre-wrap" th:text="${menu.foodMain}"></li>
                            </ul>
                            <br>
                            <strong>Món Tráng Miệng:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li class="whitespace-pre-wrap" th:text="${menu.foodDessert}"></li>
                            </ul>
                        </div>
                        <button class="text-red-500 mt-2"
                            onclick="toggleContent('dishList-[[${iterStat.index}]]', this)">Xem thêm</button>
                    </div>
                    <style>
                        .whitespace-pre-wrap {
                            white-space: pre-wrap;
                        }
                    </style>
                </div>

                <!-- Thẻ món nước -->
                <div class="bg-gray-50 rounded-lg p-4 shadow-md col-span-1 md:col-span-1">
                    <h3 class="text-lg font-semibold text-gray-800 font-bold">MÓN NƯỚC</h3>
                    <br>
                    <div class="drink-content">
                        <strong>Nước Ngọt:</strong>
                        <ul class="text-gray-800 mt-2">
                            <li>Coca Cola: Nước ngọt có gas.</li>
                            <li>Pepsi: Lựa chọn nước ngọt có gas.</li>
                            <li>7Up: Lựa chọn nước ngọt có gas.</li>
                        </ul>
                        <br>
                        <div id="drinkList" class="hidden">
                            <strong>Nước Trái Cây:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Nước Cam: Nước cam tươi ngon, có thể thêm đá hoặc không.</li>
                                <li>Nước Dưa Hấu: Nước dưa hấu mát lạnh và ngọt ngào.</li>
                                <li>Nước Táo: Nước táo tự nhiên, có thể thêm một ít chanh để thêm phần thơm ngon.</li>
                            </ul>
                            <br>
                            <strong>Nước Uống Bestseller:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Trà Sữa: Truyền thốn hoặc matcha...</li>
                                <li>Nước Mía: Nước mía tươi mát, có thể thêm chút chanh để tăng thêm hương vị.</li>
                                <li>Sinh Tố: Sinh tố từ các loại trái cây như bơ, chuối, hoặc dâu tây.</li>
                            </ul>
                            <br>
                            <strong>Rượu và Cocktail:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Rượu Vang: Rượu vang đỏ hoặc trắng tùy theo sở thích.</li>
                                <li>Mojito: Cocktail với bạc hà, chanh, rượu rum và soda.</li>
                                <li>Margarita: Cocktail với tequila, nước chanh và chút muối trên miệng ly.</li>
                            </ul>
                        </div>
                        <button class="text-red-500 mt-2" onclick="toggleContent('drinkList')">Xem thêm</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function toggleContent(id, button) {
                var content = document.getElementById(id);
                if (content.classList.contains('hidden')) {
                    content.classList.remove('hidden');
                    content.classList.add('block');
                    button.textContent = 'Ẩn bớt'; // Đổi văn bản thành "Ẩn bớt"
                } else {
                    content.classList.remove('block');
                    content.classList.add('hidden');
                    button.textContent = 'Xem thêm'; // Đổi văn bản thành "Xem thêm"
                }
            }

        </script>
    </div>
    <br>
    <!--  -->
    <div class="py-2 bg-gradient-to-b from-red-100 via-white to-blue-100">
        <div class="container mx-auto">
            <h2 class="text-3xl md:text-4xl font-bold text-center text-gray-800 mb-8 mt-6">Sản Phẩm Của Cửa Hàng</h2>
            <div class="tabs-container relative">
                <!-- Tab Links -->
                <div class="flex space-x-4 mb-4 p-4">
                    <button
                        class="tab-button py-2 px-4 text-lg font-semibold rounded-lg focus:outline-none bg-gray-300 text-black"
                        data-tab="food" onclick="openTab(event, 'food')">MÓN ĂN</button>
                    <button class="tab-button py-2 px-4 text-lg font-semibold rounded-lg focus:outline-none"
                        data-tab="drink" onclick="openTab(event, 'drink')">ĐỒ UỐNG</button>
                </div>

                <!-- Tab Content for Food -->
                <div id="food" class="tab-content relative">

                    <div th:if="${#lists.isEmpty(foodlist)}"
                        class="text-center flex flex-col items-center justify-center mt-8">
                        <p class="text-white text-xl mb-4 bg-gray-500 p-2 px-4 rounded-full">
                            Chưa có món ăn nào
                        </p>

                        <img alt="không có sản phảm" src="https://cdn-icons-png.flaticon.com/512/4076/4076501.png"
                            class="w-24 h-24 md:w-32 md:h-32 mb-4 opacity-75">
                    </div>

                    <!-- Phần chứa các thẻ món ăn -->
                    <div class="relative overflow-x-auto" id="food-scroll">
                        <div class="flex space-x-4 p-4">
                            <!-- Loop through foodlist for Food tab -->
                            <div th:each="food : ${foodlist}"
                                class="bg-white border border-gray-200 rounded-lg overflow-hidden shadow-md w-64 flex-shrink-0">
                                <img th:src="${#lists.isEmpty(food.photos) ? 'https://via.placeholder.com/400x300.png?text=No+Image' : food.photos[0].photoUrl}"
                                    class="w-full h-60 object-cover" alt="Ảnh của món ăn">
                                <div class="p-4">
                                    <h3 class="font-bold text-lg mb-2" th:text="${food.foodName}">Tên Món Ăn</h3>
                                    <p class="flex items-baseline text-red-500 mb-2">
                                        <span class="font-semibold text-lg" th:text="${food.formattedPrice}">Giá</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-14 py-2 hidden md:block">
                        <div class="absolute bottom-0 right-0 flex space-x-2 z-10 p-4">
                            <!-- Nút Prev -->
                            <button id="food-prevBtn"
                                class="text-2xl bg-white text-black shadow-lg rounded-full p-2 focus:outline-none shadow">
                                &#10094;
                            </button>

                            <!-- Nút Next -->
                            <button id="food-nextBtn"
                                class="text-2xl bg-white text-black shadow-lg rounded-full p-2 focus:outline-none shadow">
                                &#10095;
                            </button>
                        </div>
                    </div>
                </div>


                <!-- Tab Content for Drinks -->
                <div id="drink" class="tab-content hidden relative">

                    <div th:if="${#lists.isEmpty(drinklist)}"
                        class="text-center flex flex-col items-center justify-center mt-8">
                        <p class="text-white text-xl mb-4 bg-gray-500 p-2 px-4 rounded-full">
                            Chưa có đồ uống nào
                        </p>

                        <img alt="không có sản phảm" src="https://cdn-icons-png.flaticon.com/512/4076/4076501.png"
                            class="w-24 h-24 md:w-32 md:h-32 mb-4 opacity-75">
                    </div>

                    <div class="relative overflow-x-auto" id="drink-scroll">
                        <div class="flex space-x-4 p-4">
                            <!-- Loop through drinklist for Drinks tab -->
                            <div th:each="drink : ${drinklist}"
                                class="bg-white border border-gray-200 rounded-lg overflow-hidden shadow-md w-64 flex-shrink-0">
                                <img th:src="${#lists.isEmpty(drink.photos) ? 'https://via.placeholder.com/400x300.png?text=No+Image' : drink.photos[0].photoUrl}"
                                    class="w-full h-60 object-cover" alt="Ảnh của đồ uống">
                                <div class="p-4">
                                    <h3 class="font-bold text-lg mb-2" th:text="${drink.drinkName}">Tên Đồ Uống</h3>
                                    <p class="flex items-baseline text-red-500 mb-2">
                                        <span class="font-semibold text-lg" th:text="${drink.formattedPrice}">Giá</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-14 py-2 hidden md:block">
                        <div class="absolute bottom-0 right-0 flex space-x-2 z-10 p-4">
                            <button id="drink-prevBtn"
                                class="text-2xl bg-white text-black shadow-lg rounded-full p-2 focus:outline-none shadow">
                                &#10094;
                            </button>

                            <button id="drink-nextBtn"
                                class="text-2xl bg-white text-black shadow-lg rounded-full p-2 focus:outline-none shadow">
                                &#10095;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Scroll Food
        const foodScrollContainer = document.getElementById('food-scroll');
        const foodNextButton = document.getElementById('food-nextBtn');
        const foodPrevButton = document.getElementById('food-prevBtn');

        function checkFoodScrollButtons() {
            const maxScrollLeft = foodScrollContainer.scrollWidth - foodScrollContainer.clientWidth;
            foodPrevButton.style.display = foodScrollContainer.scrollLeft > 0 ? 'block' : 'none';
            foodNextButton.style.display = foodScrollContainer.scrollLeft < maxScrollLeft ? 'block' : 'none';
        }

        foodScrollContainer.addEventListener('scroll', checkFoodScrollButtons);

        foodNextButton.addEventListener('click', () => {
            foodScrollContainer.scrollBy({ left: 300, behavior: 'smooth' });
        });

        foodPrevButton.addEventListener('click', () => {
            foodScrollContainer.scrollBy({ left: -300, behavior: 'smooth' });
        });

        checkFoodScrollButtons();

        // Scroll Drinks
        const drinkScrollContainer = document.getElementById('drink-scroll');
        const drinkNextButton = document.getElementById('drink-nextBtn');
        const drinkPrevButton = document.getElementById('drink-prevBtn');

        function checkDrinkScrollButtons() {
            const maxScrollLeft = drinkScrollContainer.scrollWidth - drinkScrollContainer.clientWidth;
            drinkPrevButton.style.display = drinkScrollContainer.scrollLeft > 0 ? 'block' : 'none';
            drinkNextButton.style.display = drinkScrollContainer.scrollLeft < maxScrollLeft ? 'block' : 'none';
        }

        drinkScrollContainer.addEventListener('scroll', checkDrinkScrollButtons);

        drinkNextButton.addEventListener('click', () => {
            drinkScrollContainer.scrollBy({ left: 300, behavior: 'smooth' });
        });

        drinkPrevButton.addEventListener('click', () => {
            drinkScrollContainer.scrollBy({ left: -300, behavior: 'smooth' });
        });

        checkDrinkScrollButtons();
    </script>


    <!-- tab -->
    <script>
        function openTab(event, tabName) {
            document.querySelectorAll('.tab-content').forEach(tab => {
                tab.classList.add('hidden');
            });

            document.querySelectorAll('.tab-button').forEach(btn => {
                btn.classList.remove('bg-gray-300', 'text-black');
            });

            document.getElementById(tabName).classList.remove('hidden');
            event.currentTarget.classList.add('bg-gray-300', 'text-black');
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.tab-button[data-tab="food"]').click();
        });
    </script>

    <br>
    <!--  -->
    <div class="py-2 bg-gradient-to-b from-yellow-100 via-white to-blue-100">
        <div class="container mx-auto">
            <h2 class="text-3xl md:text-4xl font-bold text-center text-gray-800 mb-8 mt-6">Mục Đánh Giá</h2>
            <div class="rounded-lg overflow-hidden">
                <section class="article flex justify-center">
                    <div class="justify-between justify-center space-y-4 space-x-4 p-8">
                        <button th:data-store-desktop-id="${store.storeId}"
                            class="open-reviewdestop bg-blue-500 text-white px-6 py-2 rounded-full w-96">
                            Xem đánh giá cửa hàng
                        </button>
                        <button id="openModaldanhgia"
                            class="open-reviewdestop bg-pink-500 text-white px-6 py-2 rounded-full w-96">
                            Đánh giá cửa hàng
                        </button>
                    </div>
                    <div th:each="store : ${stores}">
                        <div th:id="'review-modal-' + ${store.storeId}"
                            class="review-modal fixed z-50 top-0 left-0 w-full h-full bg-black bg-opacity-70 hidden flex items-center justify-center transition-opacity duration-300 ease-in-out">
                            <div
                                class="bg-white rounded-lg shadow-lg p-6 w-full max-w-2xl mx-auto transform scale-0 transition-transform duration-300 ease-in-out modal-content">
                                <div class="flex justify-between items-center border-b pb-3 mb-4">
                                    <h2 class="text-lg font-bold text-center text-white bg-blue-500 rounded-full px-2">
                                        <strong th:text="${store.storeName}">Tên Cửa Hàng</strong>
                                    </h2>
                                    <button class="close-review text-gray-800 text-3xl bi bi-x-circle-fill"></button>
                                </div>
                                <div class="p-2 overflow-y-auto max-h-96 space-y-4">
                                    <!-- Hiển thị các đánh giá -->
                                    <div th:if="${#lists.isEmpty(store.reviews)}" class="text-center">
                                        <p>Không có đánh giá cho cửa hàng này. Hãy là người đầu tiên đánh giá.</p>
                                        <i class="bi bi-wechat text-7xl"></i>
                                    </div>

                                    <div th:each="review : ${store.reviews}">
                                        <div
                                            class="max-w-3xl mx-auto bg-white border rounded-lg shadow-md overflow-hidden">
                                            <div class="flex flex-col md:flex-row p-4 md:p-6">
                                                <!-- Avatar -->
                                                <img class="w-12 h-12 md:w-16 md:h-16 rounded-full object-cover"
                                                    src="https://i.pinimg.com/736x/a1/b2/b4/a1b2b463bac40bf00a6046dac5109efe.jpg"
                                                    alt="Avatar">

                                                <!-- Thông tin đánh giá -->
                                                <div class="ml-0 md:ml-6 mt-4 md:mt-0 flex-grow">
                                                    <div class="flex justify-between items-center pb-2">
                                                        <h2 class="text-lg md:text-xl font-semibold text-gray-800"
                                                            th:text="${review.user.name}">Tên Người Dùng</h2>
                                                        <p class="text-gray-500 italic text-xs md:text-sm">—
                                                            <span class="font-semibold"
                                                                th:text="${review.relativeReviewDate}">25/09/2024</span>
                                                        </p>
                                                    </div>
                                                    <!-- Số sao -->
                                                    <div class="flex items-center mt-1">
                                                        <span class="text-yellow-500 text-lg">
                                                            <!-- Hiển thị các ngôi sao vàng theo điểm đánh giá -->
                                                            <span
                                                                th:each="i : ${#numbers.sequence(1, review.rating)}">&#9733;</span>
                                                        </span>
                                                        <span class="text-gray-400 text-lg"
                                                            th:if="${review.rating < 5}">
                                                            <!-- Hiển thị các ngôi sao xám cho phần còn lại nếu chưa đủ 5 sao -->
                                                            <span
                                                                th:each="i : ${#numbers.sequence(1, 5 - review.rating)}">&#9733;</span>
                                                        </span>
                                                    </div>
                                                    <!-- Nội dung đánh giá -->
                                                    <p class="text-gray-700 text-sm md:text-lg mt-3"
                                                        th:text="${review.comment}">
                                                        Nội dung đánh giá của người dùng.
                                                    </p>
                                                </div>
                                            </div>

                                            <!-- Hình ảnh đánh giá -->
                                            <div class="flex overflow-x-auto p-4 gap-4">
                                                <div th:each="photo : ${review.photos}">
                                                    <img class="h-16 w-auto md:h-20 rounded-lg flex-shrink-0 cursor-pointer object-cover"
                                                        th:src="${photo.photoUrl}" alt="Hình ảnh đánh giá"
                                                        onclick="showImageModaldesktop(this.src)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Modal để hiển thị ảnh lớn hơn -->
                    <div id="imageModaldesktop"
                        class="fixed inset-0 hidden bg-gray-900 bg-opacity-80 flex items-center justify-center z-50">
                        <div class="relative">
                            <img id="modalImagedesktop" class="w-auto max-h-96" src="" alt="Hình ảnh lớn">
                            <button id="closeModaldesktopButton"
                                class="absolute top-2 right-2 text-gray-900 bg-white rounded-full px-1 transition duration-200">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </div>
                    </div>
                    <script>
                        //Mở modal và hiển thị ảnh lớn
                        function showImageModaldesktop(imageSrc) {
                            const imageModal = document.getElementById('imageModaldesktop');
                            const modalImage = document.getElementById('modalImagedesktop');
                            modalImage.src = imageSrc; // Đặt src hình ảnh đã nhấp
                            imageModal.classList.remove('hidden'); // Hiển thị modal
                        }

                        // Đóng modal khi nhấn nút "X"
                        document.getElementById('closeModaldesktopButton').addEventListener('click', () => {
                            document.getElementById('imageModaldesktop').classList.add('hidden'); // Ẩn modal
                        });

                        // Đóng modal khi nhấn ra ngoài khu vực ảnh
                        document.getElementById('imageModaldesktop').addEventListener('click', (event) => {
                            const modalImage = document.getElementById('modalImagedesktop');
                            if (!modalImage.contains(event.target)) {
                                document.getElementById('imageModaldesktop').classList.add('hidden');
                            }
                        });

                    </script>
                    <script>
                        document.addEventListener('click', (event) => {
                            const target = event.target;

                            // Mở bảng review
                            if (target.classList.contains('open-reviewdestop')) {
                                const storeId = target.getAttribute('data-store-desktop-id');
                                const modal = document.getElementById(`review-modal-${storeId}`);

                                if (modal) {
                                    modal.classList.remove('hidden');
                                    document.body.classList.add('modal-open');  // Thêm lớp quản lý overflow
                                    setTimeout(() => {
                                        modal.querySelector('.modal-content').classList.remove('scale-0');
                                    }, 10);
                                }
                            }

                            // Đóng bảng review
                            if (target.classList.contains('close-review') || target.classList.contains('review-modal')) {
                                const modal = target.closest('.review-modal') || target;
                                if (modal) {
                                    modal.querySelector('.modal-content').classList.add('scale-0');
                                    setTimeout(() => {
                                        modal.classList.add('hidden');
                                        document.body.classList.remove('modal-open');  // Gỡ bỏ lớp khi đóng modal
                                    }, 300);
                                }
                            }
                        });

                        // Đóng modal khi nhấn phím "Esc"
                        document.addEventListener('keydown', (event) => {
                            if (event.key === 'Escape') {
                                const openModal = document.querySelector('.review-modal:not(.hidden)');
                                if (openModal) {
                                    openModal.querySelector('.modal-content').classList.add('scale-0');
                                    setTimeout(() => {
                                        openModal.classList.add('hidden');
                                        document.body.classList.remove('modal-open');
                                    }, 300);
                                }
                            }
                        });


                    </script>
                    <!-- =====================Đánh giá================ -->
                    <!-- Modal -->
                    <div id="myModaldanhgia"
                        class="fixed z-50 overflow-hidden inset-0 bg-black bg-opacity-70 hidden flex items-center justify-center transition-opacity duration-300 ease-in-out">
                        <div
                            class="bg-white rounded-lg shadow-lg p-4 w-full max-w-2xl mx-auto transform scale-95 transition-transform duration-300 ease-in-out modal-content">
                            <div class="flex justify-between items-center border-b pb-3 mb-4">
                                <h2 class="text-xl font-bold">Đánh giá cửa hàng</h2>
                                <button id="closeModaldanhgia"
                                    class="text-white bg-black rounded-full py-2 px-2 transition duration-200"
                                    onclick="closeModal()">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                            <div th:each="store : ${store}" class="text-center">
                                <strong th:text="${store.storeName}"
                                    class="px-4 text-lg text-white bg-blue-500 rounded-full">Tên Cửa Hàng</strong>
                            </div>
                            <div class="w-full mt-4">
                                <form id="reviewForm" class="space-y-6 p-4">
                                    <!-- Nội dung đánh giá -->
                                    <div>
                                        <label for="comment" class="block text-sm font-medium text-gray-700 mb-2">Nội
                                            dung:</label>
                                        <textarea id="comment" name="comment"
                                            class="p-4 mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50 transition duration-150 ease-in-out sm:text-sm"
                                            rows="4" placeholder="Viết đánh giá của bạn..."></textarea>
                                    </div>

                                    <!-- Đánh giá điểm bằng ngôi sao -->
                                    <div>
                                        <label class="block text-sm font-medium text-gray-700 mb-8">Điểm đánh
                                            giá:</label>
                                        <div id="rating" class="flex space-x-2 relative">
                                            <button type="button" data-rating="1"
                                                class="star p-2 text-gray-400 hover:text-yellow-500 text-3xl focus:outline-none transition duration-200 relative group">
                                                &#9733;
                                                <span
                                                    class="absolute left-1/2 transform -translate-x-1/2 -top-6 text-2xl opacity-0 transition-opacity duration-300 group-hover:opacity-100">😢</span>
                                            </button>
                                            <button type="button" data-rating="2"
                                                class="star p-2 text-gray-400 hover:text-yellow-500 text-3xl focus:outline-none transition duration-200 relative group">
                                                &#9733;
                                                <span
                                                    class="absolute left-1/2 transform -translate-x-1/2 -top-6 text-2xl opacity-0 transition-opacity duration-300 group-hover:opacity-100">😟</span>
                                            </button>
                                            <button type="button" data-rating="3"
                                                class="star p-2 text-gray-400 hover:text-yellow-500 text-3xl focus:outline-none transition duration-200 relative group">
                                                &#9733;
                                                <span
                                                    class="absolute left-1/2 transform -translate-x-1/2 -top-6 text-2xl opacity-0 transition-opacity duration-300 group-hover:opacity-100">😐</span>
                                            </button>
                                            <button type="button" data-rating="4"
                                                class="star p-2 text-gray-400 hover:text-yellow-500 text-3xl focus:outline-none transition duration-200 relative group">
                                                &#9733;
                                                <span
                                                    class="absolute left-1/2 transform -translate-x-1/2 -top-6 text-2xl opacity-0 transition-opacity duration-300 group-hover:opacity-100">😊</span>
                                            </button>
                                            <button type="button" data-rating="5"
                                                class="star p-2 text-gray-400 hover:text-yellow-500 text-3xl focus:outline-none transition duration-200 relative group">
                                                &#9733;
                                                <span
                                                    class="absolute left-1/2 transform -translate-x-1/2 -top-6 text-2xl opacity-0 transition-opacity duration-300 group-hover:opacity-100">😍</span>
                                            </button>
                                        </div>
                                        <input type="hidden" id="ratingValue" name="rating" value="0" />
                                    </div>

                                    <!-- Tải ảnh -->
                                    <div>
                                        <label for="images" class="block text-sm font-medium text-gray-700">Chọn ảnh
                                            (Không bắt
                                            buộc):</label>
                                        <label for="images" class="block text-sm font-medium text-red-500">Lưu ý chỉ sử
                                            dụng tối
                                            đa <strong>(3)</strong> ảnh</label>
                                        <input type="file" id="images" name="images" multiple
                                            class="mt-4 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
                                    </div>


                                    <!-- Nút gửi -->
                                    <div class="flex justify-end text-xl">
                                        <button id="submitButton" type="submit"
                                            class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition duration-200">Gửi
                                            đánh giá</button>
                                        <span id="loadingMessage" class="hidden ml-2 text-blue-600">Đang gửi...</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <script>
                        const modal = document.getElementById("myModaldanhgia");
                        const openModalBtn = document.getElementById("openModaldanhgia");
                        const closeModalBtn = document.getElementById("closeModaldanhgia");

                        // Open the modal
                        openModalBtn.addEventListener("click", () => {
                            modal.classList.remove("hidden");
                            modal.classList.add("flex");
                            document.querySelector('.modal-content').classList.add('scale-100');
                        });

                        // Close the modal
                        closeModalBtn.addEventListener("click", () => {
                            modal.classList.add("hidden");
                            modal.classList.remove("flex");
                        });

                        // Close the modal when clicking outside of it
                        window.addEventListener("click", (event) => {
                            if (event.target === modal) {
                                modal.classList.add("hidden");
                                modal.classList.remove("flex");
                            }
                        });

                        document.getElementById('images').addEventListener('change', function (event) {
                            const files = event.target.files;

                            if (files.length > 3) {
                                alert('Bạn chỉ có thể chọn tối đa 3 ảnh!');
                                event.target.value = ''; // Reset lại giá trị của input
                            }
                        });

                    </script>
                </section>
            </div>
        </div>
    </div>
    <br>

    <!-- <div class="md:w-3/12 w-full md:ml-20 mt-8 md:mt-6">
        <form id="reviewForm">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment"></textarea><br>

            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" min="1" max="5" /><br>

            <label for="images">Images:</label>
            <input type="file" id="images" name="images" multiple /><br>

            <button type="submit">Submit Review</button>
        </form>
    </div> -->
    <!-- footer -->
    <div class="containerer"></div>

    <script src="/build/js/reviews.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</body>

</html>