<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link href="dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@latest/dist/tailwind.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/emoji-button@4.6.0/dist/index.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <style>
 
        /* From Uiverse.io by SouravBandyopadhyay */
        .containerer {
            width: 100%;
            height: 100px;
            position: relative;
            background: #f0f0f0;
        }

        .containerer::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg,
                    #3498db 25%,
                    transparent 25%,
                    transparent 50%,
                    #3498db 50%,
                    #3498db 75%,
                    transparent 75%,
                    transparent),
                linear-gradient(-45deg,
                    #3498db 25%,
                    transparent 25%,
                    transparent 50%,
                    #3498db 50%,
                    #3498db 75%,
                    transparent 75%,
                    transparent);
            background-size: 20px 20px;
            opacity: 0.8;
        }



        .scrollable-container {
            max-height: 20rem;
            /* Adjust to fit 5 cards */
            overflow-y: auto;
        }

        .card {
            width: 100%;
            background-color: #ffffff;
            border: 1px solid #d1d5db;
            border-radius: 0.5rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .avatar {
            width: 3rem;
            height: 3rem;
            border-radius: 9999px;
            object-fit: cover;
        }

        .ml-4 {
            margin-left: 1rem;
        }

        .text-lg {
            font-size: 1.125rem;
        }

        .font-semibold {
            font-weight: 600;
        }

        .text-sm {
            font-size: 0.875rem;
        }


        .card {
            width: 100%;
            background-color: #ffffff;
            border: 1px solid #d1d5db;
            border-radius: 0.5rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .avatar {
            width: 3rem;
            height: 3rem;
            border-radius: 9999px;
            object-fit: cover;
        }

        .scrollable-container {
            overflow: auto;
            /* Cho phép cuộn */
            -ms-overflow-style: none;
            /* Ẩn thanh cuộn trên Internet Explorer */
            scrollbar-width: none;
            /* Ẩn thanh cuộn trên Firefox */
        }

        .scrollable-container::-webkit-scrollbar {
            display: none;
            /* Ẩn thanh cuộn trên Chrome, Safari */
        }

        /*  */
        .carousel-container {
            display: flex;
            overflow: hidden;
            position: relative;
            height: 35vh;
            /* Giảm chiều cao carousel xuống phân nửa */
        }

        .carousel-slide {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            min-width: 100%;
            box-sizing: border-box;
        }

        .carousel-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
        }

        .carousel-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            z-index: 10;
        }

        .carousel-button.left {
            left: 0;
        }

        .carousel-button.right {
            right: 0;
        }
    </style>
</head>

<body>
    <div class="fixed top-0 left-0 w-full shadow-sm z-50">
        <nav id="header" class="w-full z-30 top-0 py-2 bg-gray-50 dark:bg-neutral-800">
            <div class="container mx-auto flex items-center justify-between px-5 relative">
                <!-- Tiêu đề mobile -->
                <div class="block md:hidden flex items-center">
                    <a href="index.html" class="font-bold text-xl">
                        <strong class="text-yellow-400">RE</strong>VIEW
                    </a>
                </div>

                <!-- Tiêu đề laptop -->
                <div class="hidden md:flex md:items-center md:w-auto">
                    <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-xl"
                        href="#">
                        <strong class="text-yellow-400">RE</strong>VIEW
                    </a>
                </div>

                <!-- Thanh tìm kiếm cho desktop -->
                <div class="flex-grow mx-4 hidden md:flex items-center justify-center relative">
                    <div class="relative flex items-center w-full max-w-2xl">
                        <input id="searchInput" type="text" placeholder="Tìm kiếm..."
                            class="w-full py-3 pl-4 pr-10 text-sm bg-white border border-gray-300 rounded-full shadow-sm dark:bg-neutral-800 dark:border-neutral-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-300 ease-in-out">
                        <button id="searchButton" class="absolute right-0 mr-3 text-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- Thanh tìm kiếm cho mobile -->
                <div class="flex-grow mx-4 md:hidden flex items-center justify-center relative">
                    <div class="relative flex items-center w-full max-w-xs">
                        <input id="searchInputMobile" type="text" placeholder="Tìm kiếm..."
                            class="w-full py-3 pl-4 pr-10 text-sm bg-white border border-gray-300 rounded-full shadow-sm dark:bg-neutral-800 dark:border-neutral-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-300 ease-in-out">
                        <button id="searchButtonMobile" class="absolute right-0 mr-3 text-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </button>
                    </div>
                    <!-- Lịch sử tìm kiếm trên mobile -->
                    <div id="searchHistoryMobile"
                        class="absolute inset-x-0 top-full mt-1 w-full max-w-xs bg-white border border-gray-300 rounded-lg shadow-lg hidden">
                        <ul id="searchHistoryListMobile" class="divide-y divide-gray-200">

                        </ul>
                    </div>
                </div>

                <!-- Lọc -->
                <div class="relative inline-block text-left">
                    <button class="flex pl-3 inline-block no-underline hover:text-black" id="openModal1">
                        <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="30"
                            height="30" viewBox="0 0 24 24">
                            <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
                        </svg>
                    </button>

                    <!-- Modal -->
                    <div id="modal-container"
                        class="fixed inset-0 bg-gray-400 bg-opacity-75 flex justify-center items-center z-50 hidden">
                        <!-- Modal Container -->
                        <div class="bg-white rounded-lg shadow-lg">
                            <!-- Modal Header -->
                            <div
                                class="flex justify-between items-center bg-gray-100 p-4 rounded-t-lg md-7 space-x-5">
                                <h2 class="font-bold">(Nhà hàng/Quán ăn được đánh giá tốt)</h2>
                                <button class="text-gray-500 hover:text-gray-700 focus:outline-none"
                                    id="closeModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                            <!-- Modal Body -->
                            <div class="p-6">
                                <!-- Filter Option 1: Category -->
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">Nhà hàng/Quán
                                        ăn</label>
                                    <select
                                        class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        <option value="">Chọn nhà hàng/quán ăn</option>
                                        <option value="star">(5 SAO) 🌟🌟🌟🌟🌟</option>
                                        <option value="star">(4 SAO) 🌟🌟🌟🌟</option>
                                        <option value="star">(3 SAO) 🌟🌟🌟</option>
                                        <option value="star">(2 SAO) 🌟🌟</option>
                                        <option value="star">(1 SAO) 🌟</option>
                                    </select>
                                </div>
                                <!-- Filter Option 3: Availability -->
                                <div class="mb-4">
                                    <label class="block text-gray-700 text-sm font-bold mb-2">Phổ biến</label>
                                    <div class="flex items-center">
                                        <input type="checkbox" id="in-stock" class="mr-2">
                                        <label for="in-stock" class="text-gray-600">Được xem nhiều</label>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Footer -->
                            <div class="flex justify-end p-4 bg-gray-100 rounded-b-lg">
                                <button
                                    class="bg-red-500 text-white px-4 py-2 rounded-md mr-2 hover:bg-red-600 transition duration-300"
                                    id="closeModal2">Hủy</button>
                                <button
                                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">Áp
                                    dụng</button>
                            </div>
                        </div>
                    </div>
                    <script>
                        // Lấy các phần tử
                        const openModalButton = document.getElementById('openModal1');
                        const modalContainer = document.getElementById('modal-container');
                        const closeModalButtons = document.querySelectorAll('#closeModal, #closeModal2');

                        // Mở modal
                        openModalButton.addEventListener('click', () => {
                            modalContainer.classList.remove('hidden');
                        });

                        // Đóng modal
                        closeModalButtons.forEach(button => {
                            button.addEventListener('click', () => {
                                modalContainer.classList.add('hidden');
                            });
                        });
                    </script>
                </div>

            </div>

            <!-- Lịch sử tìm kiếm trên desktop -->
            <div id="searchHistory"
                class="absolute inset-x-0 mt-2 w-full max-w-2xl mx-auto bg-white border border-gray-300 rounded-lg shadow-lg hidden">
                <ul id="searchHistoryList" class="divide-y divide-gray-200">
                    <!-- Các mục lịch sử tìm kiếm sẽ được thêm vào đây -->
                </ul>
            </div>

        </nav>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const searchInput = document.getElementById('searchInput');
                const searchButton = document.getElementById('searchButton');
                const searchInputMobile = document.getElementById('searchInputMobile');
                const searchButtonMobile = document.getElementById('searchButtonMobile');
                const searchHistory = document.getElementById('searchHistory');
                const searchHistoryList = document.getElementById('searchHistoryList');
                const searchHistoryMobile = document.getElementById('searchHistoryMobile');
                const searchHistoryListMobile = document.getElementById('searchHistoryListMobile');

                let searchTerms = JSON.parse(localStorage.getItem('searchHistory')) || [];

                // Hiển thị lịch sử tìm kiếm khi nhấn vào input
                function toggleSearchHistory(inputElement, historyElement) {
                    historyElement.classList.toggle('hidden');
                    updateSearchHistory();
                }

                searchInput.addEventListener('focus', () => toggleSearchHistory(searchInput, searchHistory));
                searchInputMobile.addEventListener('focus', () => toggleSearchHistory(searchInputMobile, searchHistoryMobile));

                // Xử lý khi nhấn nút tìm kiếm
                function handleSearch(inputElement) {
                    const term = inputElement.value.trim();
                    if (term !== '') {
                        searchTerms = [term, ...searchTerms.filter(item => item !== term)].slice(0, 5);
                        localStorage.setItem('searchHistory', JSON.stringify(searchTerms));
                        updateSearchHistory();
                    }
                    inputElement.value = '';
                }

                searchButton.addEventListener('click', () => handleSearch(searchInput));
                searchButtonMobile.addEventListener('click', () => handleSearch(searchInputMobile));

                // Xử lý khi nhấn phím Enter
                searchInput.addEventListener('keydown', function (event) {
                    if (event.key === 'Enter') {
                        handleSearch(searchInput);
                    }
                });

                searchInputMobile.addEventListener('keydown', function (event) {
                    if (event.key === 'Enter') {
                        handleSearch(searchInputMobile);
                    }
                });

                // Cập nhật danh sách lịch sử tìm kiếm
                function updateSearchHistory() {
                    searchHistoryList.innerHTML = '';
                    searchHistoryListMobile.innerHTML = '';
                    if (searchTerms.length > 0) {
                        searchTerms.forEach((term, index) => {
                            const li = document.createElement('li');
                            li.classList.add('flex', 'justify-between', 'items-center', 'border-b', 'py-2');

                            const icon = document.createElement('i');
                            icon.classList.add('bi', 'bi-stopwatch', 'mr-2');

                            const termSpan = document.createElement('span');
                            termSpan.textContent = term;
                            termSpan.classList.add('flex-grow', 'cursor-pointer');
                            termSpan.addEventListener('click', function () {
                                searchInput.value = term;
                                searchInputMobile.value = term;
                                searchHistory.classList.add('hidden');
                                searchHistoryMobile.classList.add('hidden');
                            });

                            const deleteButton = document.createElement('button');
                            deleteButton.innerHTML = '&times;';
                            deleteButton.classList.add('delete-button');
                            deleteButton.addEventListener('click', function (event) {
                                event.stopPropagation(); // Ngăn sự kiện click trên nút xóa được truyền lên
                                searchTerms.splice(index, 1);
                                localStorage.setItem('searchHistory', JSON.stringify(searchTerms));
                                updateSearchHistory();
                            });

                            // Thêm icon và termSpan vào li
                            li.appendChild(icon);
                            li.appendChild(termSpan);
                            li.appendChild(deleteButton);
                            searchHistoryList.appendChild(li);
                            searchHistoryListMobile.appendChild(li.cloneNode(true));
                        });
                        searchHistory.classList.remove('hidden');
                        searchHistoryMobile.classList.remove('hidden');
                    } else {
                        searchHistory.classList.add('hidden');
                        searchHistoryMobile.classList.add('hidden');
                    }
                }

                // Ẩn bảng lịch sử khi nhấp ra ngoài
                function clickOutsideHandler(event) {
                    if (!searchHistory.contains(event.target) && event.target !== searchInput && !searchHistoryMobile.contains(event.target) && event.target !== searchInputMobile) {
                        searchHistory.classList.add('hidden');
                        searchHistoryMobile.classList.add('hidden');
                    }
                }

                document.addEventListener('click', clickOutsideHandler);
            });

        </script>
    </div>
    <nav class="mb-4 ml-4 relative mt-20">
        <ol class="flex flex-wrap items-center space-x-2 text-gray-700 dark:text-gray-300">
            <li th:each="breadcrumb, iterStat : ${breadcrumbs}" class="flex items-center">

                <a th:if="${not #strings.isEmpty(breadcrumb.url) and !iterStat.last}" th:href="${breadcrumb.url}"
                    class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300"
                    th:text="${breadcrumb.title}"></a>

                <span th:if="${#strings.isEmpty(breadcrumb.url) or iterStat.last}"
                    class="text-gray-500 dark:text-gray-400" th:text="${breadcrumb.title}"></span>

                <i th:if="${!iterStat.last}"
                    class="bi bi-chevron-compact-right text-gray-500 dark:text-gray-400"></i>
            </li>
        </ol>
    </nav>
    <div class="relative">
        <!-- --------------------- -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
            <!-- Container Flex -->
            <div class="flex flex-col md:flex-row">
                <!-- Hình ảnh (Carousel) -->
                <div class="w-full md:w-2/3 p-4"> <!-- Sử dụng w-full cho mobile và w-1/2 cho desktop -->
                    <div class="relative w-full h-35">
                        <!-- Carousel -->
                        <div class="carousel-container" id="carousel">
                            <div class="carousel-slide">
                                <div class="carousel-item">
                                    <img src="https://noithattugia.com/wp-content/uploads/2022/10/thiet-ke-nha-hang-16.jpg"
                                        alt="Slide 1" class="rounded-lg">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://noithattugia.com/wp-content/uploads/2022/10/thiet-ke-nha-hang-16.jpg"
                                        alt="Slide 2" class="rounded-lg">
                                </div>
                                <div class="carousel-item">
                                    <img src="https://noithattugia.com/wp-content/uploads/2022/10/thiet-ke-nha-hang-16.jpg"
                                        alt="Slide 3" class="rounded-lg">
                                </div>
                            </div>
                            
                            <button class="carousel-button left" onclick="prevSlide()">&#10094;</button>
                            <button class="carousel-button right" onclick="nextSlide()">&#10095;</button>
                        </div>

                        <script>
                            const carousel = document.getElementById('carousel');
                            const slides = carousel.querySelector('.carousel-slide');
                            let index = 0;

                            function showSlide(n) {
                                const totalSlides = carousel.querySelectorAll('.carousel-item').length;
                                if (n >= totalSlides) index = 0;
                                else if (n < 0) index = totalSlides - 1;
                                else index = n;
                                const offset = -index * 100;
                                slides.style.transform = `translateX(${offset}%)`;
                            }

                            function nextSlide() {
                                showSlide(index + 1);
                            }

                            function prevSlide() {
                                showSlide(index - 1);
                            }
                        </script>
                    </div>
                </div>

                <!-- Thông tin nhà hàng -->
                <div class="w-full md:w-1/2 p-8 flex flex-col justify-center">
                    <!-- Sử dụng w-full cho mobile và w-1/2 cho desktop -->
                    <h2 class="text-2xl font-bold text-gray-800 mb-4">
                        Nhà hàng:
                        <strong class="text-red-400" th:text="${store.storeName}"></strong>
                    </h2>
                    <p class="flex items-center mb-4">
                        <i class="bi bi-geo-alt-fill text-red-600 mr-2"></i>
                        <span th:text="${store.addressCity}" class="font-bold text-green-500"></span>
                    </p>
                    <p class="text-gray-600 mb-4">
                        <strong>Địa chỉ: </strong>
                        <span th:text="${store.addressStreet}"></span>,
                        <span th:text="${store.addressCommune}"></span>,
                        <span th:text="${store.addressDistrict}"></span>,
                        <span th:text="${store.addressCity}"></span>.
                    </p>
                    <span class="text-yellow-500 text-2xl">★★★★☆</span>
                </div>
            </div>
        </div>
        <!-- --------------------- -->
        <!-- Croll -->
        <div class="mt-8 bg-white shadow-lg rounded-lg p-4">
            <div class="flex space-x-4 overflow-x-scroll scrollbar-hide cursor-grab" id="scroll-container">
                <div class="flex-none w-60">
                    <img src="https://cdn.tgdd.vn/Files/2021/08/23/1377184/15-mon-an-dac-san-trung-quoc-noi-tieng-ma-ban-khong-nen-bo-lo-202108231441032708.jpg"
                        alt="Gallery Image 1" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://images2.thanhnien.vn/zoom/686_429/Uploaded/ttt/images/Content/tan-huong/mon-ngon-nha-hang/2017_07_w3/6.jpg"
                        alt="Gallery Image 2" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://cdn.alongwalk.info/vn/wp-content/uploads/2022/04/05175641/image-ngon-mieng-voi-top-20-mon-an-ngon-o-seoul-noi-tieng-164913100195925.jpg"
                        alt="Gallery Image 3" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://cdn.alongwalk.info/vn/wp-content/uploads/2022/03/10000142/image-mr-bbq-am-thuc-han-quoc-chuan-vi-han-quoc-giai-nhiet-ngay-nong-tai-quan-7-164682010213951.jpg"
                        alt="Gallery Image 4" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://assets.grab.com/wp-content/uploads/sites/11/2020/05/31175018/chubehanoi_96868579_158391732331537_35234746899292690_n-e1590918624125.jpg"
                        alt="Gallery Image 5" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://pastaxi-manager.onepas.vn/content/uploads/articles/2amthuc/nhahang/hoaithu/top-10-quan-an-han-quoc-ngon-duoc-yeu-thich-o-ha-noi-anh5.jpg"
                        alt="Gallery Image 6" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://cdn.tgdd.vn/Files/2021/08/23/1377184/15-mon-an-dac-san-trung-quoc-noi-tieng-ma-ban-khong-nen-bo-lo-202108231441032708.jpg"
                        alt="Gallery Image 1" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://images2.thanhnien.vn/zoom/686_429/Uploaded/ttt/images/Content/tan-huong/mon-ngon-nha-hang/2017_07_w3/6.jpg"
                        alt="Gallery Image 2" class="object-cover w-full h-40 rounded-lg">
                </div>
                <div class="flex-none w-60">
                    <img src="https://cdn.alongwalk.info/vn/wp-content/uploads/2022/04/05175641/image-ngon-mieng-voi-top-20-mon-an-ngon-o-seoul-noi-tieng-164913100195925.jpg"
                        alt="Gallery Image 3" class="object-cover w-full h-40 rounded-lg">
                </div>
            </div>
        </div>
        <!--  -->
        <!-- Card Menu -->
        <div class="mt-8 bg-white rounded-lg p-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Card món ăn -->
                <div class="bg-gray-100 rounded-lg p-4 shadow-md">
                    <h3 class="text-lg font-semibold text-gray-800 font-bold">THỰC ĐƠN</h3>
                    <br>
                    <div class="khaivi">
                        <strong>Khai vị:</strong>
                        <ul class="text-gray-800 mt-2">
                            <li>Gỏi Cuốn: Cuốn bánh tráng với tôm, thịt heo, rau sống và bún.</li>
                            <li>Chả Giò: Cuốn chả giò giòn rụm với nhân thịt heo, nấm, và rau củ.</li>
                            <li>Súp Ngô: Súp ngô ngọt với thịt gà và rau củ.</li>
                        </ul>
                        <br>
                        <div id="dishList">
                            <strong>Món Chính:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Phở: Món phở truyền thống với nước dùng thơm ngon, thịt bò hoặc gà, cùng bánh phở
                                    mềm.</li>
                                <li>Bún Chả: Bún chả với thịt nướng thơm lừng, nước mắm chua ngọt và rau sống.</li>
                                <li>Bò Kho: Món bò kho mềm mại với nước sốt đậm đà, ăn kèm với bánh mì hoặc cơm.</li>
                            </ul>
                            <br>
                            <strong>Món Hải Sản:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Tôm Nướng: Tôm nướng trên lửa than, gia vị đậm đà.</li>
                                <li>Mực Xào Sa Tế: Mực xào với sa tế, ớt và các loại gia vị.</li>
                                <li>Cá Kho Tộ: Cá kho tộ với nước sốt đậm đà và hành tím.</li>
                            </ul>
                            <br>
                            <strong>Món Tráng Miệng:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Chè Ba Màu: Chè với ba lớp màu sắc khác nhau, gồm đậu xanh, thạch, và nước cốt dừa.
                                </li>
                                <li>Bánh Flan: Bánh flan mềm mịn với lớp caramel ngọt ngào.</li>
                                <li>Kem Xôi: Xôi với kem tươi mát lạnh.</li>
                            </ul>
                        </div>
                        <button id="toggleDish" class="text-red-500 mt-2">Xem thêm</button>
                    </div>
                </div>

                <!-- Card món nước -->
                <div class="bg-gray-100 rounded-lg p-4 shadow-md">
                    <h3 class="text-lg font-semibold text-gray-800 font-bold">MÓN NƯỚC</h3>
                    <br>
                    <div class="drink-content">
                        <strong>Nước Ngọt:</strong>
                        <ul class="text-gray-800 mt-2">
                            <li>Coca Cola: Nước ngọt có gas.</li>
                            <li>Pepsi: Lựa chọn nước ngọt có gas.</li>
                            <li>7Up: Lựa chọn nước ngọt có gas.</li>
                        </ul>
                        <br>
                        <div id="drinkList">
                            <strong>Nước Trái Cây:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Nước Cam: Nước cam tươi ngon, có thể thêm đá hoặc không.</li>
                                <li>Nước Dưa Hấu: Nước dưa hấu mát lạnh và ngọt ngào.</li>
                                <li>Nước Táo: Nước táo tự nhiên, có thể thêm một ít chanh để thêm phần thơm ngon.</li>
                            </ul>
                            <br>
                            <strong>Nước Uống Bestseller:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Trà Sữa: Truyền thốn hoặc matcha...</li>
                                <li>Nước Mía: Nước mía tươi mát, có thể thêm chút chanh để tăng thêm hương vị.</li>
                                <li>Sinh Tố: Sinh tố từ các loại trái cây như bơ, chuối, hoặc dâu tây.</li>
                            </ul>
                            <br>
                            <strong>Rượu và Cocktail:</strong>
                            <ul class="text-gray-800 mt-2">
                                <li>Rượu Vang: Rượu vang đỏ hoặc trắng tùy theo sở thích.</li>
                                <li>Mojito: Cocktail với bạc hà, chanh, rượu rum và soda.</li>
                                <li>Margarita: Cocktail với tequila, nước chanh và chút muối trên miệng ly.</li>
                            </ul>
                        </div>
                        <button id="toggleDrink" class="text-red-500 mt-2">Xem thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const dishList = document.getElementById('dishList');
                const toggleDish = document.getElementById('toggleDish');
                const drinkList = document.getElementById('drinkList');
                const toggleDrink = document.getElementById('toggleDrink');

                // Chỉnh sửa để ẩn bớt nội dung
                if (dishList) {
                    dishList.classList.add('hidden');
                }

                if (drinkList) {
                    drinkList.classList.add('hidden');
                }

                // Xử lý sự kiện nhấp chuột cho nút Xem thêm
                toggleDish.addEventListener('click', function () {
                    if (dishList.classList.contains('hidden')) {
                        dishList.classList.remove('hidden');
                        toggleDish.textContent = 'Ẩn bớt';
                    } else {
                        dishList.classList.add('hidden');
                        toggleDish.textContent = 'Xem thêm';
                    }
                });

                toggleDrink.addEventListener('click', function () {
                    if (drinkList.classList.contains('hidden')) {
                        drinkList.classList.remove('hidden');
                        toggleDrink.textContent = 'Ẩn bớt';
                    } else {
                        drinkList.classList.add('hidden');
                        toggleDrink.textContent = 'Xem thêm';
                    }
                });
            });

        </script>
    </div>
    <br>
    <!--  -->
    <div class="bg-white rounded-lg overflow-hidden">
        <strong class="text-2xl ml-8 text-black pt-4">MÓN ĂN</strong>
        <div class="grid grid-cols-2 md:grid-cols-6 gap-6 p-6">
            <!-- Card 1 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/a9/8c/69/a98c692cc1f19dda2a101ba95108496b.jpg" alt="Món saimi"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Món Sashimi</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">122.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★☆</span>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://images2.thanhnien.vn/zoom/686_429/Uploaded/ttt/images/Content/tan-huong/mon-ngon-nha-hang/2017_07_w3/6.jpg"
                    alt="Dish 2" class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Bò kho</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">100.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★★</span>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/41/77/15/4177152d793abca3f0de2cbf985e54d7.jpg" alt="Dish 2"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Cơm tấm</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon. Thịt mền rất ngon</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">40.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★★</span>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/71/be/38/71be38e661f54b84d359cf5bb4250624.jpg" alt="Món saimi"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Phở</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">50.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★☆</span>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://images2.thanhnien.vn/zoom/686_429/Uploaded/ttt/images/Content/tan-huong/mon-ngon-nha-hang/2017_07_w3/6.jpg"
                    alt="Dish 2" class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Tôm nướng</h3>
                    <p class="text-gray-600 mt-2">Ngon đậm đà.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">250.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★★</span>
                    </div>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/9e/e3/46/9ee346d28ede7bb464b9079d82df9020.jpg" alt="Món saimi"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Chả giò</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">100.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★☆</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- Thức uống -->
        <strong class="text-2xl ml-8 text-black pt-4">Đồ UỐNG</strong>
        <div class="grid grid-cols-2 md:grid-cols-6 gap-6 p-6">
            <!-- Card 1 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/bd/b4/9a/bdb49aafd79e5261907339621121e295.jpg" alt="Món saimi"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Trà Mili</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">32.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★☆</span>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/d6/54/ae/d654ae7b818571a7ef9feecd8386f7a0.jpg" alt="Dish 2"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Trà ô long</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">20.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★★</span>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/25/41/4d/25414d283649b1f8a871acf94f5df481.jpg" alt="Dish 2"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Cocktail</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon. Thịt mền rất ngon</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">140.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★★</span>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/736x/45/8a/14/458a14b0d6e1041e50659be7cb7e1e26.jpg" alt="Món saimi"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Cocktail</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">100.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★☆</span>
                    </div>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/fe/9d/67/fe9d6754d6fb6b95fce971226000d4b9.jpg" alt="Dish 2"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Cocktail</h3>
                    <p class="text-gray-600 mt-2">Ngon đậm đà.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">200.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★★</span>
                    </div>
                </div>
            </div>
            <!-- C6 -->
            <div class="bg-white shadow-lg rounded-lg overflow-hidden hover:scale-105 backdrop-blur-sm bg-opacity-70">
                <img src="https://i.pinimg.com/564x/aa/96/82/aa9682723882073da9b7a8ff784f566e.jpg" alt="Dish 2"
                    class="w-full h-48 object-cover rounded-lg">
                <div class="p-4">
                    <h3 class="text-lg font-semibold text-gray-800">Cocktail</h3>
                    <p class="text-gray-600 mt-2">Chất lượng tuyệt vời, Ngon.</p>
                    <div class="mt-4 flex justify-between items-center">
                        <span class="text-gray-800 font-bold">150.000<sup>đ</sup></span>
                        <span class="text-yellow-500">★★★★★</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!--  -->
    <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <strong class="text-2xl ml-8 text-black">Bình luận</strong>
        <section class="article bg-gray-50 mt-10 flex flex-col md:flex-row">
            <div class="md:w-7/12 w-full scrollable-container py-6 px-8">
                <div class="space-y-4">
                    <!-- Card 1 -->
                    <div class="card">
                        <div class="p-4">
                            <div class="flex items-center">
                                <img class="avatar" src="https://via.placeholder.com/150" alt="User Avatar">
                                <div class="ml-4">
                                    <h3 class="text-lg font-semibold">Nguyễn Văn A</h3>
                                    <p class="text-sm text-gray-600">Có những nhà hàng ăn ngon như Kasaki</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card">
                        <div class="p-4">
                            <div class="flex items-center">
                                <img class="avatar" src="https://via.placeholder.com/150" alt="User Avatar">
                                <div class="ml-4">
                                    <h3 class="text-lg font-semibold">Trần Thị B</h3>
                                    <p class="text-sm text-gray-600">Có các nhà hàng, quán ăn không ngon như giới thiệu
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="card">
                        <div class="p-4">
                            <div class="flex items-center">
                                <img class="avatar" src="https://via.placeholder.com/150" alt="User Avatar">
                                <div class="ml-4">
                                    <h3 class="text-lg font-semibold">Nguyễn Văn A</h3>
                                    <p class="text-sm text-gray-600">Có những nhà hàng ăn ngon như Kasaki</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="card">
                        <div class="p-4">
                            <div class="flex items-center">
                                <img class="avatar" src="https://via.placeholder.com/150" alt="User Avatar">
                                <div class="ml-4">
                                    <h3 class="text-lg font-semibold">Trần Thị B</h3>
                                    <p class="text-sm text-gray-600">Có các nhà hàng, quán ăn không ngon như giới thiệu
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cột bên phải chứa quảng cáo (3 phần) -->
            <div class="md:w-3/12 w-full md:ml-20 mt-8 md:mt-6">
                <div class="bg-white border border-slate-200 rounded-xl p-4 text-sm">
                    <h1 class="text-center text-slate-800 text-xl font-bold mb-2">Gửi cảm nhận của bạn</h1>
                    <textarea id="feedback" placeholder="Cảm nhận của bạn..."
                        class="bg-slate-100 text-slate-600 h-40 w-full placeholder:text-slate-600 placeholder:opacity-50 border border-slate-200 resize-none outline-none rounded-lg p-2 duration-300 focus:border-slate-600"></textarea>
                    <div class="flex space-x-2 mt-2">
                        <button
                            class="flex-grow fill-slate-600 flex justify-center items-center rounded-lg p-2 duration-300 bg-slate-100 hover:border-slate-600 focus:fill-blue-200 focus:bg-blue-400 border border-slate-200">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 512 512">
                                <path
                                    d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm177.6 62.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z">
                                </path>
                            </svg>
                        </button>
                        <button id="emoji-button"
                            class="flex-grow fill-slate-600 flex justify-center items-center rounded-lg p-2 duration-300 bg-slate-100 hover:border-slate-600 focus:fill-blue-200 focus:bg-blue-400 border border-slate-200">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 512 512">
                                <path
                                    d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm177.6 62.1C192.8 334.5 218.8 352 256 352s63.2-17.5 78.4-33.9c9-9.7 24.2-10.4 33.9-1.4s10.4 24.2 1.4 33.9c-22 23.8-60 49.4-113.6 49.4s-91.7-25.5-113.6-49.4c-9-9.7-8.4-24.9 1.4-33.9s24.9-8.4 33.9 1.4zM144.4 208a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm192-32a32 32 0 1 1 0 64 32 32 0 1 1 0-64z">
                                </path>
                            </svg>
                        </button>
                        <button
                            class="flex items-center bg-black text-white gap-1 px-4 py-2 cursor-pointer text-yellow-400 font-semibold tracking-widest rounded-md hover:bg-yellow-400 hover:text-black duration-300 hover:gap-2 hover:translate-x-3">
                            Gửi
                            <svg class="w-5 h-5" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
                                    stroke-linejoin="round" stroke-linecap="round"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br>
    <!-- footer -->
    <div class="containerer"></div>
    <!-- ------- -->
    <script>
        document.addEventListener('touchstart', function (event) {
            if (event.touches.length > 1) {
                event.preventDefault();
            }
        }, { passive: false });

        document.addEventListener('gesturestart', function (event) {
            event.preventDefault();
        });

    </script>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</body>

</html>